<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Список товаров на складе</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script>
        $(document).ready(function() {
            getDataFromAPI();
        });
        function getDataFromAPI() {
            $.ajax({
                url: "/getdata",
                type: "GET",
                success: function (data) {
                    let table = document.getElementById("main_table");
                    table.replaceChild(document.createElement("tbody"), table.children[0]);
                    let body = table.children[0];
                    let tr = document.createElement("tr");
                    let td = document.createElement("th");
                    td.innerText = "Название товара";
                    tr.appendChild(td);
                    body.appendChild(tr);
                    for (let i = 0; i < data.goods.length; i++) {
                        let el = data.goods[i];
                        tr = document.createElement("tr");
                        td = document.createElement("td");
                        td.innerText = el.name;
                        tr.appendChild(td);
                        body.appendChild(tr);
                    }
                }, error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }
    </script>
</head>
<body>


<table id="main_table"><tbody></tbody></table>
</body>
</html>