<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<center><h1>Добро пожаловать!</h1></center><br><br>
<a href="/goods" style="font-size: 20pt">Список товаров (только администраторы)</a><br><br>
<a href="/warehouses" style="font-size: 20pt">Список складов (только администраторы)</a><br><br>
<a href="/goods-warehouses" style="font-size: 20pt">Список товаров на складах (только пользователи)</a><br><br><br>
<a href="/logout" style="font-size: 20pt">Выход из системы</a>

</body>
</html>